.loading{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    margin-left: 47.5%;
    flex-direction: column;

}
.loadingAnimation{
    width: 100px;
    height: 100px;
    background: red;
    border-radius: 10vw;
    animation:loadingDivAnimation 1s reverse infinite;
}
@keyframes loadingDivAnimation {
    50%{
        background: darkblue;
        width: 200px;
        height: 200px;
    }
    100%{
        background: red;
        width: 100px;
        height: 100px;
    }
}

.loading>h2 {
    color: #afd6af;
    position: fixed;
    margin-bottom: 300px;
    font-size: 35px;
}
