header{
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
 .genres {
     position: relative;
     display: inline-block;
 }

 .genres>div{
     position: absolute;
 }
